.rc-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: larger;
}

.rc-pagination-item {
  height: fit-content;
  cursor: pointer;
}

.rc-pagination-item-active {
  color: #e7c067;
  font-weight: 700;
  font-size: x-large;
}

.rc-pagination ::marker {
  content: none;
}

.rc-pagination-prev {
  mask-image: url(/ui/previous.svg);
  mask-position: center center;
  mask-repeat: no-repeat;
}

.rc-pagination-next {
  mask-image: url(/ui/next.svg);
  mask-position: center center;
  mask-repeat: no-repeat;
}

.rc-pagination-disabled {
  opacity: 0.6;
}

/* google react chart */

.chart text {
  fill: #5795ad;
}

.chart rect {
  fill: #416d7e;
}
